.blue .author,
.blue a {
  color: #031968;
}
.blue i {
  background-color: #031968;
}
.blue ii {
  background-color: #87ceeb;
}
.blue .text-highlight a {
  color: #87ceeb !important;
}
.red .author,
.red a {
  color: darkred;
}
.red i {
  background-color: darkred;
}
.red ii {
  background-color: orange;
}
.red .text-highlight a {
  color: orange !important;
}
.green .author,
.green a {
  color: darkgreen;
}
.green i {
  background-color: darkgreen;
}
.green ii {
  background-color: lightgreen;
}
.green .text-highlight a {
  color: lightgreen !important;
}
.teal .author,
.teal a {
  color: Teal;
}
.teal i {
  background-color: Teal;
}
.teal ii {
  background-color: turquoise;
}
.teal .text-highlight a {
  color: turquoise !important;
}
.purple .author,
.purple a {
  color: purple;
}
.purple i {
  background-color: purple;
}
.purple ii {
  background-color: coral;
}
.purple .text-highlight a {
  color: coral !important;
}
.brown .author,
.brown a {
  color: Brown;
}
.brown i {
  background-color: Brown;
}
.brown ii {
  background-color: darkOrange;
}
.brown .text-highlight a {
  color: darkOrange !important;
}
.two-red .author,
.two-red a {
  color: #d73027;
}
.two-red i {
  background-color: #d73027;
}
.two-red ii {
  background-color: #fc8d59;
}
.two-red .text-highlight a {
  color: #fc8d59 !important;
}
.two-blue .author,
.two-blue a {
  color: #4575b4;
}
.two-blue i {
  background-color: #4575b4;
}
.two-blue ii {
  background-color: #91bfdb;
}
.two-blue .text-highlight a {
  color: #91bfdb !important;
}
body {
  margin: 0;
  padding: 0;
  color: #212529;
}
.hide {
  display: hide;
}
.show {
  display: block;
}
.show-inline {
  display: inline;
}
.header {
  padding-bottom: 36px;
  position: relative;
}
.header .author {
  font-size: 24px;
}
.header .topic {
  font-size: 42px;
  font-weight: bold;
  line-height: 48px;
}
.header-fixed {
  position: fixed;
  background-color: #212529;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
.header-fixed .author,
.header-fixed .topic {
  color: #fff !important;
  font-size: 16px;
  display: inline-block;
}
.header-fixed .author {
  margin-right: 8px;
}
.menu {
  position: relative;
  top: 0;
  right: 0;
  padding-top: 24px;
  width: 100%;
  z-index: 1000;
  text-align: right;
}
.menu .menu-text {
  margin-bottom: 8px;
  cursor: pointer;
}
.menu .menu-close {
  letter-spacing: 0.05em;
}
.menu .menu-content {
  display: none;
  background-color: #212529;
  position: fixed;
  top: 0;
  color: #fff;
  right: 0px;
  padding: 24px;
  text-align: left;
  height: 100%;
}
.menu .menu-content .block {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #495057;
}
.menu .menu-content .year {
  font-size: 12px;
  letter-spacing: 0.2em;
  margin-bottom: 12px;
  color: #ced4da;
}
.menu .menu-content .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu .menu-content .list li {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
}
.menu .menu-content .list li:last-child {
  margin-bottom: 0px;
}
.menu .menu-content .list li.selected {
  color: #ced4da;
}
.menu .menu-content .list a {
  color: #fff;
  text-decoration: none;
}
.summary,
.max,
.stats,
.byDay {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}
.summary {
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}
.fixed {
  overflow-x: auto;
}
.slider {
  color: #868e96;
  padding: 8px;
  font-size: 16px;
}
.max,
.stats {
  border-bottom: 1px solid #e9ecef;
}
.summary,
.stats,
.footer {
  background-color: #f8f9fa;
}
.unit-selection {
  padding-top: 36px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: -12px;
}
.unit-selection .title {
  font-size: 24px;
  padding-bottom: 12px;
}
.unit-selection .input {
  display: inline-block;
  margin-right: 16px;
}
.unit-selection .input:last-child {
  margin-right: 0;
}
.unit-selection input {
  margin-right: 8px;
  margin-left: 16px;
}
.unit-selection input:first-child {
  margin-left: 0;
}
.legend {
  line-height: 90%;
  padding-top: 12px;
}
.legend .block {
  font-size: 1px;
  display: inline-block;
}
.legend .label {
  font-size: 12px;
  text-align: center;
  color: #212529;
  font-weight: normal;
  display: inline-block;
}
.radios {
  text-align: right;
}
.highlight {
  font-style: normal;
  font-weight: normal;
  padding: 0 8px;
}
i {
  font-style: normal;
  font-weight: normal;
  padding: 0 8px;
  color: #fff;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
}
ii {
  font-style: normal;
  font-weight: normal;
  padding: 0 8px;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
}
l {
  font-weight: 200;
}
.footer {
  font-size: 16px;
  margin-top: 36px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #e9ecef;
  color: #868e96;
}
.footer .link {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #868e96;
}
.footer .link:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.footer .link a {
  margin-right: 6px;
}
.footer .link a:first-child {
  margin-left: 6px;
}
.footer .link a:last-child {
  margin-right: 0;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .legend {
    text-align: right;
    padding-top: 0;
  }
  .menu-content {
    position: absolute !important;
    top: unset !important;
    height: unset !important;
  }
  .menu-content .block:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
  .menu-close {
    display: none;
  }
}
text {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  cursor: default;
}
.block:hover {
  stroke: #212529;
  stroke-width: 1px;
}
.lines {
  stroke: #ced4da;
}
.month-path {
  stroke: #212529;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
  fill: none;
}
.month-text {
  font-size: 14px;
  alignment-baseline: hanging;
}
.day-text {
  font-size: 14px;
  alignment-baseline: central;
  text-anchor: end;
}
.label-text {
  font-size: 14px;
  alignment-baseline: central;
}
.axis path {
  stroke: none;
}
.tick line {
  stroke: rgba(33, 37, 41, 0.2);
}
.tick text {
  font-size: 12px;
}
.bg {
  fill: #212529;
}
.tp {
  font-weight: normal;
  font-size: 14px;
  fill: #fff;
}
